# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [37]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_ind
from scipy.stats import ttest_rel
from scipy.stats import ttest_1samp
from scipy.stats import chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
pokemon.head()

,#,Name,Type1,Type2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Types Strong Against,Weak Against
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,STARTER,"Ground, Rock, Water, Fairy, Grass","Fire, Flying, Ice, Psychic"
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,STARTER,"Ground, Rock, Water, Fairy, Grass","Fire, Flying, Ice, Psychic"
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,STARTER,"Ground, Rock, Water, Fairy, Grass","Fire, Flying, Ice, Psychic"
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,STARTER,"Bug, Grass, Ice, Steel","Ground, Rock, Water"
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,STARTER,"Bug, Grass, Ice, Steel","Ground, Rock, Water"

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
# Your code here:
pokemon['Legendary'].value_counts()

NORMAL         668
LEGENDARY       66
STARTER         63
ULTRA BEAST     12
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [8]:
# Your code here:
lego = pokemon[pokemon.Legendary == 'LEGENDARY']
lego.mean()
lego.std()

#             200.158809
Total          80.439469
HP             21.505548
Attack         26.463274
Defense        25.573952
Sp. Atk        28.621524
Sp. Def        26.934142
Speed          23.251478
Generation      1.790222
dtype: float64

In [11]:
nonlego = pokemon[pokemon.Legendary != 'LEGENDARY']
nonlego.mean()
nonlego.std()

#             233.713106
Total          99.091702
HP             25.493683
Attack         28.781342
Defense        28.760285
Sp. Atk        27.018248
Sp. Def        24.954062
Speed          26.831817
Generation      1.954404
dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [22]:
# Your code here:
ttest_ind(lego.Total, nonlego.Total, equal_var=False)

Ttest_indResult(statistic=18.351020806052386, pvalue=4.701845913455658e-31)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [24]:
# Your code here:
types = pokemon.Type1.value_counts()
types

Water       114
Normal      105
Grass        78
Bug          72
Fire         53
Psychic      53
Rock         46
Electric     40
Poison       34
Ground       32
Fight        29
Dark         29
Ghost        27
Dragon       27
Steel        26
Ice          23
Fairy        18
Flying        3
Name: Type1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [26]:
# Your code here:
water = pokemon[pokemon.Type1 == 'Water']
water.mean()
water.std()

#             216.704477
Total         104.285465
HP             27.142818
Attack         24.938087
Defense        26.137564
Sp. Atk        26.519591
Sp. Def        28.157662
Speed          23.271317
Generation      1.869521
dtype: float64

In [27]:
# Your code here:
nonwater = pokemon[pokemon.Type1 != 'Water']
nonwater.mean()
nonwater.std()

#             234.844903
Total         112.251116
HP             25.929775
Attack         30.310952
Defense        30.215470
Sp. Atk        30.037719
Sp. Def        26.896428
Speed          28.420064
Generation      1.949715
dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [28]:
ttest_ind(water.Total, nonwater.Total, equal_var=True)

Ttest_indResult(statistic=-0.5594128453041963, pvalue=0.576035214737876)

Write your conclusion below.

In [10]:
# Your conclusions here:

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [31]:
# Your code here:
ttest_rel(pokemon.Attack, pokemon.Defense)

Ttest_relResult(statistic=4.3000370534125425, pvalue=1.9163845453342385e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:

#Our Diference is very small so we reject the null condition

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [52]:
# Your code here:
samean = pokemon['Sp. Atk']
sdmean = pokemon['Sp. Def']

In [55]:
ttest_rel(samean, sdmean)

Ttest_relResult(statistic=-0.11554378145446141, pvalue=0.9080428285827871)

Describe the results of the test in the cell below.

In [14]:
#Our Diference is High so the Null Condition is Valid

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [35]:
# Your code here:
ttest_1samp(pokemon.Defense-pokemon.Attack, 0)

Ttest_1sampResult(statistic=-4.3000370534125425, pvalue=1.9163845453342385e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [56]:
# Your code here:

cont = pd.crosstab(pokemon['Legendary'] == 'LEGENDARY', pokemon['Type1'] == 'Water')
cont

Type1      False  True
Legendary
False        636    107
True          59      7

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [59]:
chi2_contingency(cont, correction=True)

(0.44172003134321797, 0.50629343572727, 1, array([[638.30037083, 104.69962917],
        [ 56.69962917,   9.30037083]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Yeah we know there are not many legos that are water